# Zoho OAuth Credentials
ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
ZOHO_REDIRECT_URI=http://localhost:8000/callback
ZOHO_DOMAIN=com

# Set to False to try real Zoho API connection once authorized
MOCK_MODE=True

# These will be automatically populated after authorization
ZOHO_REFRESH_TOKEN=
ZOHO_ACCESS_TOKEN=
